<h1><%= title('Edit Response') %></h1>

<%= render 'form', approval: @approval %>

<%= link_to 'View', @approval, class: 'btn btn-sm btn-outline-primary' %>
<%= link_to 'Back', @approval.course, class: 'btn btn-sm btn-outline-secondary' %>
