<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="unmh_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= image_tag 'UNM_Hospital_Vertical_White.png', height: '40px' %>
  </button>
  <div class="dropdown-menu" aria-labelledby="unmh_links">
    <% UnmhLinks.get_nav_items.each do |nav_item| %>
      <a href='<%= nav_item.fetch('link', {}).fetch('url', '#') %>' class="dropdown-item"> <%= nav_item.fetch('title') %></a>
    <% end %>
  </div>
</div>
