<h3>Documentation Requirements</h3>
<p>To be eligible for reimbursement, you must submit two types of required documentation:</p>

<h4>1. Proof of Final Grade</h4>
<p>We will accept unofficial transcripts but <strong>your name or other unique identifier must be printed on each page.</strong><br>
Clinical Advancement Program (CAP): submit a copy of your certificate.</p>
<br>
<h4>2. Itemized Proof of Payment</h4>
<p>The proof must be itemized to show tuition, course and lab fees and how they were paid. Your name or other unique identifier must be printed on each page.<br>
  Clinical Advancement Program (CAP): A copy of your check or other payment method is sufficient.</p>

<h3>Reimbursement Deadline</h3>
<p>Proofs must be received by 5:00 p.m. on Tuesdays the week before paydays to be reimbursed on the next regular paycheck.<br>
  For Example: For paycheck dated August 7, 2015, documents must be received by 5:00 p.m. on Tuesday, July 28, 2015.</p>

<p>Tuition Reimbursement must occur in the same fiscal year the course was completed in. Fiscal Year runs from July 1st through June 30th. Final submission date of all proofs for the current fiscal year is June 10th.</p>

<h4>Please refer to policy HR 370 -Tuition Reimbursement in the Human Resources Policies for additional information.</h4>
