<body class="welcome-bg-alt" style="background-color: black">
  <div class="container-fluid text-white">
    <h1 class="text-center text-white">Tuition Reimbursement</h1>
    <p class="text-center"> Tuition Reimbursement is an employee benefit provided by University of New Mexico Hospitals.</p>

    <h3 class="pt-2 text-white"> Employee Eligibility Requirements</h3>
    <p>These conditions must be met <em>before</em> an employee is eligible for reimbursement, and still met when the class ends:</p>
    <ul>
      <li>Directly employed by the University of New Mexico Hospitals for a minimum of <strong>six</strong> continuous months.</li>
      <li>Employment status of at least .5 FTE (full-time equivalent).</li>
      <li>Employee must request reimbursement approval, and receive it, <em>before</em> the start date of the class.</li>
    </ul>
    <p>For full details and requirements of this benefit, please review policy <strong>HR 370: Tuition Reimbursement</strong> on the <a href="https://unmh.policymedical.net/" target="_blank" class="text-light">Policies & Procedures</a> site.</p>

    <p>For questions on using this benefit, email <a href="mailto:tuition_reimbursement@salud.unm.edu" class="text-light">tuition_reimbursement@salud.unm.edu</a></p>
    <%= link_to 'See My Profile', user_path(current_user.id), class: 'btn btn-secondary'  %>
    <hr class="mt-5 mb-5">
    <!-- <%= link_to 'Styles', template_path, class: 'text-secondary' %> -->
  </div>
</body>

