<body class="welcome-bg-alt">
  <div class="container-fluid text-white">
    <h1 class="text-center text-white">Tuition Reimbursement</h1>
    <p class="text-center"> Tuition Reimbursement is an employee benefit provided by University of New Mexico Hospitals.</p>

    <h3 class="pt-2 text-white"> Employee Eligibility Requirements</h3>
    <p>The following requirements must be met by the employee <em>before</em> a course reimbursement request can be made, and still met when the course ends:</p>
    <ul>
      <li>Employed by the University of New Mexico Hospitals for a minimum of six continuous months.</li>
      <li>Employment status of at least .5 FTE (full-time equivalent).</li>
    </ul>
    <p>For full details and requirements of this benefit, please review policy <a href="https://hospitals.health.unm.edu/intranet7/apps/doc_management/index.cfm?document_id=682">HR 370: Tuition Reimbursement.</a></p>

    <p>For questions on using this benefit, email <a href="mailto:tuition_reimbursement@salud.unm.edu">tuition_reimbursement@salud.unm.edu</a></p>

    <hr class="mt-5 mb-5">
    <%= link_to 'Styles', template_path %>
  </div>
</body>

