<div id="new_form">
  <h1 class="text-center"><%= title('Update Proof Documentation') %></h1>
  <%= render 'form', proof: @proof %>
<%= link_to 'View', @proof, class: 'btn btn-sm btn-outline-primary' %>
<%= link_to 'Back', @proof.course, class: 'btn btn-sm btn-outline-secondary' %>
</div>
