<h1 class="mt-2 text-center"><%= title('Upload Documentation for Course Reimbursement') %></h1>
<div class="container">
<%= render 'form', proof: @proof %>

<%= link_to 'Back', @proof.course %>
</div>
