<div class="container">
  <h1 class="text-center"><%= title('Editing Credential') %></h1>

  <%= render 'form', credential: @credential %>

  <%= link_to 'View', @credential, class: 'btn btn-sm btn-outline-primary' %>
  <%= link_to 'Back', credentials_path, class: 'btn btn-sm btn-outline-primary' %>
</div>
