<div class="container">
  <h1 class="text-center"><%= title('Create a New Credential') %></h1>

  <%= render 'form', credential: @credential %>

  <%= link_to 'Cancel / Back', credentials_path, class: 'btn btn-sm btn-outline-secondary' %>
</div>

