<div class="ml-5" id="new_form">
  <h1 class="text-center"><%= title('New Course Reimbursement Request') %></h1>

  <%= render 'form', course: @course %>

  <%= link_to 'Back', courses_path %>

</div>
