// Data styling
//Users/id # show
.employee-status-termed {
  color: $danger;
  font-weight: 700;
  text-transform: uppercase;
}
.user-company-unmh{
  color: #1a1a1a!important;
}

// general in-app customization
.bg-teal {
  background: $unm_teal;
}

.welcome-bg {
  background-image: image-url('baim-hanif-pYWuOMhtc6k-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome-bg-alt {
  background-image: linear-gradient(175deg,
    rgba(237,139,0,0.65) 30%,
    rgba(192,81,20,0.9) 40%,
    rgba(184,74,11,0.8) 50%,
    rgba(184,55,0,0.8) 60%,
    rgba(184,55,0,0.5) 70%,
    rgba(184,55,0,0.05) 80%),
  image-url('joan-kwamboka-hvL7qlvZ5T4-unsplasha.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

// copyright footer
.footer {
  background: transparent;
  border: 0;
  bottom: 0;
  color: #333333;
  font-size: .7em;
  font-weight: 400;
  height: 20px;
  position:fixed;
  width: 100% !important;
  z-index: 100;

  strong { font-weight: 600 !important; }
}


// Following customizations have parts sourced from Bootswatch Themes including Lux and Yeti

// Navbar and Navigation

// Overrride the default navbar styles to let links be a little more visible
.navbar {

  // link styling when you're logged in as another user
  .current_user {
    a {
      color: lighten($black, 20%) !important;

      &:hover { color: $black !important; }
    }
  }
}

.navbar {
  font-size: $font-size-sm;
  text-transform: uppercase;
  font-weight: $headings-font-weight;
  padding: .3rem;

  &-nav {
    .nav-link {
      padding-top: .2rem;
      padding-bottom: .2rem;
    }
  }

  &-brand {
    margin-right: 2rem;
  }
  .current_user {
    color: #fff !important;
    a {
      color: #ffc600 !important;
      &:hover {
        color: #ed8b00!important;
      }
    }
  }
}

.dropdown-menu {
  font-size: $font-size-sm;
  text-transform: none;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-light {
  border: 1px solid rgba(0, 0, 0, 0.1);

  &.navbar-fixed-top {
    border-width: 0 0 1px 0;
  }

  &.navbar-bottom-top {
    border-width: 1px 0 0 0;
  }
}

.nav-item {
  margin-right: 2rem;
}

.nav-pills {
  .active {
    border: 1px solid darken($primary, 5%);
  }
}

.breadcrumb {
  font-size: $font-size-sm;
  font-weight: 300;
  text-transform: uppercase;
}

.pagination {
  font-weight: 300;

  .page-link {
    border-color: transparent;
    border-radius: 3px;
    margin-left: .1em;
    margin-right: .1em;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .page-item.disabled {
    .page-link {
      border-color: transparent;
    }
  }
}

.pagination,
.pagination-lg,
.pagination-sm {
  .page-item:first-child,
  .page-item:last-child {
    .page-link {
      border-radius: 3px;
    }
  }
}

.list-group {
  font-size: $font-size-sm;
  font-weight: 300;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ddd;
}




// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" !default;
@import url($web-font-path);


// Buttons =====================================================================

.btn {
  font-size: $font-size-sm;
  text-transform: uppercase;

  &-sm {
    font-size: 10px;
  }

  &-warning {
    &,
    &:hover,
    &:not([disabled]):not(.disabled):active,
    &:focus {
      color: $white;
    }
  }
}

.btn-outline-secondary {
  border-color: theme-color("secondary");
  color: darken(theme-color("secondary"), 20%);

  &:not([disabled]):not(.disabled):hover,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    background-color: theme-color("secondary");
    border-color: theme-color("secondary");
    color: $gray-900;
  }

  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba(theme-color("secondary"), 0.5);
  }
}

[class*="btn-outline-"] {
  border-width: 2px;
}


.btn {
  &-primary {
    border-color: darken($primary, 5%);
  }

  &-secondary {
    border-color: lighten($secondary, 10%);
    color: $gray-900
  }

  &-success {
    border-color: darken($success, 5%);
  }

  &-info {
    border-color: darken($info, 5%);
    color: $white;
  }

  &-danger {
    border-color: darken($danger, 5%);
  }

  &-warning {
    border-color: darken($warning, 5%);
    color: $white;
  }

  &-light {
    border-color: darken($light, 5%);
  }

  &-dark {
    border-color: darken($dark, 5%);
  }
}

.btn-group {
  .dropdown-menu {
    border-top-width: 0;
  }

  .dropdown-toggle {
    &.btn-primary ~ .dropdown-menu {
      background-color: $primary;
      border-color: darken($primary, 5%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: darken($primary, 8%);
      }
    }

    &.btn-secondary ~ .dropdown-menu {
      background-color: $secondary;
      border-color: lighten($secondary, 10%);

      .dropdown-item {
        color: $body-color;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: darken($secondary, 8%);
      }
    }

    &.btn-success ~ .dropdown-menu {
      background-color: $success;
      border-color: darken($success, 5%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: darken($success, 8%);
      }
    }

    &.btn-info ~ .dropdown-menu {
      background-color: $info;
      border-color: darken($info, 5%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: darken($info, 8%);
      }
    }

    &.btn-warning ~ .dropdown-menu {
      background-color: $warning;
      border-color: darken($warning, 5%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: darken($warning, 8%);
      }
    }

    &.btn-danger ~ .dropdown-menu {
      background-color: $danger;
      border-color: darken($danger, 5%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: darken($danger, 8%);
      }
    }
  }
}


// Typography ==================================================================

body {
  font-weight: 300;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.blockquote-footer {
  color: $gray-600;
}


// Tables ======================================================================

th {
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.table {

  th, td {
    padding: 1rem;
    .btn-group {
      vertical-align: middle !important;
    }
  }
  tr {
    vertical-align: middle !important;
  }

  &-sm {
    th, td {
      padding: 0.75rem;
    }
  }
  &-primary,
  &-success,
  &-info,
  &-warning,
  &-danger {
    color: $white;
  }

  &-primary {
    &,
    > th,
    > td {
      background-color: $primary;
    }
  }

  &-secondary {
    &,
    > th,
    > td {
      background-color: $secondary;
    }
  }

  &-light {
    &,
    > th,
    > td {
      background-color: $light;
    }
  }

  &-dark {
    &,
    > th,
    > td {
      background-color: $dark;
    }
  }

  &-success {
    &,
    > th,
    > td {
      background-color: $success;
    }
  }

  &-info {
    &,
    > th,
    > td {
      background-color: $info;
    }
  }

  &-danger {
    &,
    > th,
    > td {
      background-color: $danger;
    }
  }

  &-warning {
    &,
    > th,
    > td {
      background-color: $warning;
    }
  }

  &-active {
    &,
    > th,
    > td {
      background-color: $table-active-bg;
    }
  }

  &-hover {
    .table-primary:hover {
      &,
      > th,
      > td {
        background-color: darken($primary, 5%);
      }
    }

    .table-secondary:hover {
      &,
      > th,
      > td {
        background-color: darken($secondary, 5%);
      }
    }

    .table-light:hover {
      &,
      > th,
      > td {
        background-color: darken($light, 5%);
      }
    }

    .table-dark:hover {
      &,
      > th,
      > td {
        background-color: darken($dark, 5%);
      }
    }

    .table-success:hover {
      &,
      > th,
      > td {
        background-color: darken($success, 5%);
      }
    }

    .table-info:hover {
      &,
      > th,
      > td {
        background-color: darken($info, 5%);
      }
    }

    .table-danger:hover {
      &,
      > th,
      > td {
        background-color: darken($danger, 5%);
      }
    }

    .table-warning:hover {
      &,
      > th,
      > td {
        background-color: darken($warning, 5%);
      }
    }

    .table-active:hover {
      &,
      > th,
      > td {
        background-color: $table-active-bg;
      }
    }
  }
}

#users-list > tr > td {
  vertical-align: middle!important;
}

// Forms =======================================================================


.custom-switch {

  .custom-control-label {
    &::after {
      top: calc(0.15625rem + 2px);
      left: calc(-2.25rem + 2px);
      width: calc(1rem - 4px);
      height: calc(1rem - 4px);
    }
  }
}

// forms

// src: https://hackerthemes.com/kit/
// Add nifty borders to alert boxes
// @each $color, $value in $theme-colors {
//   .alert-#{$color} {
//     box-shadow: 3px 3px theme-color-level($color, -3);
//   }
// }

// Form error messages


// Form validation

//.required:after{
//  content: " *";
//  color: $danger;
// }

#new_form .form-control {
  border: 1px solid;
}

#new_form .form-control:invalid{
  color: $danger;
}

#new_form input:invalid {
  color: $danger;
}

#new_form input:invalid:required{
  border-color: #e91e63;
  padding-right: calc(1.5em + 1.5rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e91e63' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e91e63' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.375rem) center;
  background-size: calc(0.75em + 0.75rem) calc(0.75em + 0.75rem);
}

#new_form input:valid:required {
  border-color: #8bc34a;
  padding-right: calc(1.5em + 1.5rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%238bc34a' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.375rem) center;
  background-size: calc(0.75em + 0.75rem) calc(0.75em + 0.75rem);
}


#error_explanation {
  color: $danger;
}
ul {
  list-style: none;
  margin: 0 0 18px 0;
}


.field_with_errors label,
.field_with_errors .form-control-feedback,
.field_with_errors .form-control-label,
.field_with_errors .col-form-label,
.field_with_errors .form-check-label,
.field_with_errors .custom-control {
  color: $light-pink;
}

.field_with_errors .form-control {
  color: $light-pink; }

.field_with_errors .input-group-addon {
  color: $light-pink;
  border-color: $light-pink;
  background-color: #fdf7f7; }


// Indicators ==================================================================

.alert {
  font-weight: 300;

  .alert-link {
    color: $primary;
    text-decoration: underline;
  }

  &:not(.alert-secondary):not(.alert-light) .btn-close {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");
  }

  //&-secondary,
  //&-light {
  //  &,
  //  a:not(.btn),
  //  .alert-link {
  //    color: $body-color;
  //  }
  //}
}


.badge {
  padding-top: 0.28rem;

  &-pill {
    border-radius: 10rem;
  }
  &.bg-light {
    color: $dark;
  }
  &.bg-secondary {
    color: $gray-900;
  }
}

// Progress bars ===============================================================

// Containers ==================================================================

.list-group-item {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
  }
}

.card {

  &-title,
  &-header {
    color: inherit;
  }
}
