// Bootstrap: https://github.com/twbs/bootstrap-rubygem/blob/0a29879d8df1e6f7feba0ff29df7734c1695b009/assets/stylesheets/bootstrap/_variables.scss

//////////////////////////////
// UNMH Colors
//////////////////////////////
$chili:             #a8aa19;
$dusk:              #8a387c;
$highnoon:          #ffc600;
$mesa:              #d6a461;
$sandia:            #ed8b00;
$unm_teal:          #007a86;
$terra:             #c05131;
// UNM Lobo Colors
$cherry:            #ba0c2f;
$lobogray:          #63666a;
$silver:            #a7a8aa;

//////////////////////////////
// Vaporwave Colors (these are unused for anything)
//////////////////////////////
$cool_vapor_blue:   #2a3f81;
$cool_vapor_green:  #00d3cd;
$vapor_gray:        #bfcfd9;
$vapor_red:         #f13e5a;
$vapor_pink:        #ff71ce;
$vapor_purple:      #b967ff;
$vapor_blue:        #01cdfe;
$vapor_green:       #05ffa1;
$vapor_yellow:      #fffb96;

//////////////////////////////
// Mild toned colors
//////////////////////////////
$softgreen:         #74d0a6;
$mintgreen:         #29c272;
$softsand:          #ffc25b;
// #007bff is the default bootstrap success color
$chillblue:         lighten(#007bff, 12%);
$coolblue:          #66bfed;
$softcherry:        #ff705b;
$springcherry:      #d9534f;
$burntfall:         #59287a;
$softplum:          #67013e;

//
// Color system: Bootswatch Lux 4.5.1
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #919aa1 !default;
$gray-700: #55595c !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a !default;
$black:    #000 !default;

$blue:     #2196f3;
$light-blue: #03a9f4;
$indigo:    #3f51b5;
$deep-purple: #673ab7;
$purple:    #8e24aa;
$pink:     #e91e63;
$light-pink: #f06292;
$red:      #e53935;
$orange:    #fb8c00;
$amber:     #ffc107;
$yellow:    #ffeb3b;
$green:     #4bbf73;
$light-green: #8bc34a;
$lime:     #cddc39;
$teal:     #009688;
$light-teal: #e0f2f1;
$cyan:     #00bcd4;

$primary:    $unm_teal;
$secondary:   $highnoon;
$success:    $light-green;
$info:      $purple;
$warning:    $orange;
$danger:     $pink;
$light:     $light-teal;
$dark:      $lobogray;

$yiq-contrasted-threshold:  185 !default;

// Options

$enable-rounded:                              false !default;

// Body

$body-color:                $gray-900;

// Components

// $border-radius:               0 !default;
// $border-radius-lg:            0 !default;
// $border-radius-sm:            0 !default;

// Fonts

$font-family-sans-serif:      "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-size-base:              0.9rem !default;

$h1-font-size:                2rem !default;
$h2-font-size:                1.75rem !default;
$h3-font-size:                1.5rem !default;
$h4-font-size:                1.25rem !default;
$h5-font-size:                1rem !default;
$h6-font-size:                0.9rem !default;

$headings-font-weight:        600 !default;
$headings-color:              $gray-900 !default;

// Tables

$table-border-color:          rgba(0, 0, 0, 0.05) !default;

// Buttons + Forms

$input-btn-border-width:      0px !default;

// Buttons

$btn-line-height:             1.5rem !default;

$input-btn-padding-y:         0.75rem !default;
$input-btn-padding-x:         1.5rem !default;

$input-btn-padding-y-sm:      .5rem !default;
$input-btn-padding-x-sm:      1rem !default;

$input-btn-padding-y-lg:      2rem !default;
$input-btn-padding-x-lg:      2rem !default;

$btn-font-weight:             600 !default;

// Forms

$input-line-height:                     1.5 !default;

$input-bg:                              $gray-200 !default;
$input-disabled-bg:                     $gray-300 !default;

$input-group-addon-bg:                  $gray-300 !default;

// Navbar

$navbar-padding-y:                  1.5rem !default;

$navbar-dark-hover-color:           $white !default;

$navbar-light-color:              $gray-600;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default;

// Pagination

$pagination-border-color:           transparent !default;

$pagination-hover-border-color:     $pagination-border-color !default;

$pagination-disabled-border-color:  $pagination-border-color !default;

// Breadcrumbs

$breadcrumb-bg:                     transparent !default;
