// Bootstrap: https://github.com/twbs/bootstrap-rubygem/blob/0a29879d8df1e6f7feba0ff29df7734c1695b009/assets/stylesheets/bootstrap/_variables.scss

//////////////////////////////
// UNMH Colors
//////////////////////////////
$chili:             #a8aa19;
$dusk:              #8a387c;
$highnoon:          #ffc600;
$mesa:              #d6a461;
$sandia:            #ed8b00;
$unm_teal:          #007a86;
$terra:             #c05131;
// UNM Lobo Colors
$cherry:            #ba0c2f;
$lobogray:          #63666a;
$silver:            #a7a8aa;
$subnav:            #343a40;

// Yeti 5.0.2, Lux 5.0.2  used
// Bootswatch

// Color system //

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Colors I kind of made up
$blue:         #3a8fd9 !default;
$blue2:        #2196f3;
$blue3:        #2780e3 !default;
$light-blue:   #03a9f4;
$indigo:       #6610f2 !default;
$indigo2:      #3f51b5;
$purple:       #9954bb !default;
$purple1:      #686dc3 !default;
$purple2:      #613d7c;
$purple3:      #8e24aa;
$deep-purple:  #673ab7;
$pink:         #e83283 !default;
$pink2:        #e91e63;
$pink3:        #e83e8c !default;
$light-pink:   #f06292;
$red:          #ff0039 !default;
$red2:         #fc346f;
$red3:         #e53935;
$orange:       #ff7518 !default;
$orange2:      #fd7e14;
$orange3:      #fb8c00;
$amber:        #ffc107;
$yellow:       #f0ad4e !default;
$yellow1:      #ffc107;
$yellow2:      #ffeb3b;
$green:        #3fb618 !default;
$green1:       #41d7a7;
$green2:       #4bbf73;
$light-green:  #8bc34a;
$lime:         #cddc39;
$teal:         #20c997 !default;
$teal1:        #528fb3;
$teal2:        #009688;
$light-teal:   #e0f2f1;
$cyan:         #39cbfb !default;
$cyan2:        #00bcd4;

// setting in-app colors to override bootstrap default colors

$primary:     (lighten($unm_teal, 2%));
$secondary:   $highnoon;
$success:     $green;
$info:        (lighten($deep-purple, 5%));
$warning:     $orange3;
$danger:      (lighten($cherry, 5%));
$light:       $light-teal;
$dark:        $subnav;

$min-contrast-ratio:   2.3 !default;
$yiq-contrasted-threshold: 200 !default;

// Components

$border-radius:               0 !default;
$border-radius-lg:            0 !default;
$border-radius-sm:            0 !default;

// Body

$body-color:                $gray-900;

// Fonts

$font-family-sans-serif:      "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-weight:        300 !default;
$h1-font-size:                2rem !default;
$h2-font-size:                1.75rem !default;
$h3-font-size:                1.5rem !default;
$h4-font-size:                1.25rem !default;
$h5-font-size:                1rem !default;
$h6-font-size:                .75rem !default;
$headings-font-weight:        600 !default;
$headings-color:              $gray-900 !default;

// Tables

$table-border-color:          rgba(0, 0, 0, 0.1) !default;

// Buttons

$input-btn-padding-x:         .5rem !default;
$btn-font-weight:             300 !default;

// Dropdowns

$dropdown-border-color:             rgba($black, .1) !default;
$dropdown-divider-bg:               rgba($black, .1) !default;


// Navs

$nav-link-disabled-color:           $gray-400 !default;
$nav-tabs-border-color:             $dropdown-border-color !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;

// Navbar

$navbar-dark-color:                 rgba($white, .7) !default;
$navbar-dark-hover-color:           $white !default;

// Pagination

$pagination-color:                  $gray-600 !default;
$pagination-border-color:           $nav-tabs-border-color !default;
$pagination-active-border-color:    darken($primary, 5%) !default;
$pagination-disabled-color:         $gray-200 !default;

// Badges

$badge-font-weight:                 300 !default;
$badge-padding-x:                   1rem !default;

// Alerts

$alert-link-font-weight:            400 !default;
$alert-bg-scale:                    0 !default;

// Progress bars

$progress-bg:                       $gray-400 !default;
$progress-bar-color:                $white !default;

// List group

$list-group-disabled-bg:            $gray-200 !default;

// Breadcrumbs

$breadcrumb-bg:                     transparent !default;
$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-border-radius:          3px !default;

// Close

$btn-close-color:            $gray-600 !default;
$btn-close-opacity:          .6 !default;
$btn-close-hover-opacity:    1 !default;

