<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Tuition Reimbursement Email: Action Needed</title>
    <style>
      body {
        background-color: #eeeeee;
        color: #2f2f2f;
        font-family: helvetica, verdana, arial, sans-serif;
        margin: 1%;
        padding: 1%;
        font-size: 1em;
        line-height: 1.2em;
      }

      a {
        outline: none;
        padding: 2px 1px 0;
      }

      a:link {
        color: #1f618d;
        font-size: 1.4em;
      }

      a:visited {
        color: #154360;
      }

      a:hover {
        color: #00BFA5;
      }

      p, ol, ul, td li {
        line-height: 1.1;
        font-size: 1em
      }

      h1 {
        font-size: 1.5em;
        color: #007a86;
        text-align: center;
        font-family: "American Typewriter", "Source Code Pro", Monaco, "Courier New", serif;
      }

      h2 {
        font-family: "American Typewriter", "Source Code Pro", Monaco, "Courier New", serif;
        font-weight: 500;
        text-align: center;
        color: #ed8b00
      }

      h3 {
        font-family: "American Typewriter", "Source Code Pro", Monaco, "Courier New", serif;
        text-align: center;
        font-weight: 500;
        font-size: 1em
      }

      table {
        margin: 0 auto;
        border-collapse: collapse;
        border-style: hidden;
        table-layout: auto;
        width: 100%;
      }

      table td, th {
        padding: 1rem;
        border: 2px solid #BCDEE1;
      }

      th {
        font-family: "American Typewriter", "Source Code Pro", Monaco, "Courier New", serif;
        font-weight: normal;
      }

      .callout-white {
        background-color: white;
        margin: 1em;
        padding: 1em;
        border-radius: 2px;
      }

      .cherry {
        color: #BA0C2F;
      }

      a.bare:link {
        text-decoration: none;
      }
    </style>
  </head>

  <body>
  <% unless Rails.env.production? %>
    <h2><%= Rails.env.upcase %> Environment</h2>
  <% end %>
    <%= yield %>
  </body>
</html>
